.type-input{
    width:60%;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button{
    background-color: #4b4b4b;
    border-radius: 15px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}
.button:hover {
    opacity: 0.8; 
}
.google-btn{
    background-color: #1B9CFC;
    border-radius: 15px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}
.google-btn:hover{
    opacity: 0.8;
}
.container{
    padding:16px;
}  
.new-account{
    color: #f44336;
}
span.psw{
    float: right;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;  
  }
  .new-account {
    width: 100%;
 }
}